{% load static %}
<div class="row mt-3 mb-3">
    <div class="col-1"></div>
    <div class="col-4 my-auto">
        <img src="{% static 'img/logo_small_resolution.png' %}" height="47px" width="357px">
    </div>

    <div class="col-3 my-auto">

        {% block nav_extra %}
            {% include "html/partials/mpi_search.html" %}
        {% endblock %}

    </div>

    <div class="col-2">
        <div class="row">
            <a href="tel:88003000200" class="text-reset text-decoration-none"> {{ our_phone }} </a>
        </div>
        <div class="row">
            <a href="/">Заказать обратный звонок</a>
        </div>
    </div>
    <div class="col-1 my-auto">
        <a href="#"><img src="{% static 'img/Telegram.png' %}" height="35px" width="35px"></a>
        <a href="#"><img src="{% static 'img/WhatsApp.png' %}" height="35px" width="35px" class="ms-2"></a>
    </div>

</div>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary mpi-bg-menu py-0">
    <div class="col-1"></div>
    <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link dropdown-toggle active" aria-current="page" href="catalog" data-bs-toggle="dropdown" aria-expanded="false">Каталог</a>
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Услуги</a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="#">Гильотинная резка</a></li>
            <li><a class="dropdown-item" href="#">Лазерная резка</a></li>
            <li><a class="dropdown-item" href="#">Газовая резка</a></li>
            <li><a class="dropdown-item" href="#">Плазменная резка</a></li>
          </ul>
        </li>
          <li class="nav-item">
              <a class="nav-link " href="#" role="button">
                  О компании
              </a>

          </li>

          <li class="nav-item">
              <a class="nav-link " href="#" role="button">
                  Оплата и доставка
              </a>

          </li>
          <li class="nav-item">
              <a class="nav-link " href="#" role="button">
                  Новости
              </a>

          </li>
          </li>
          <li class="nav-item">
              <a class="nav-link " href="#" role="button">
                  Контакты
              </a>

          </li>

      </ul>

    </div>
    </div>

</nav>
