<div class="row mb-5">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="row border border-dark">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-1"></div>
    <div class="col-10 footer_menu">
        <div class="row">
            <div class="col-2">
                <ul class="list-unstyled">
                    <a href="catalog/"> <li>Труба</li> </a>
                    <a href="catalog/"><li>Лист</li></a>
                    <a href="catalog/"><li>Швеллер</li></a>
                    <a href="catalog/"><li>Балка</li></a>
                    <a href="catalog/"><li>Арматура</li></a>
                </ul>
            </div>
            <div class="col-2">
                <ul class="list-unstyled">
                    <a href="catalog/"><li>Проволока</li></a>
                    <a href="catalog/"><li>Уголок</li></a>
                    <a href="catalog/"><li>Квадрат</li></a>
                    <a href="catalog/"><li>Полоса</li></a>
                    <a href="catalog/"><li>Круг</li></a>
                </ul>
            </div>
            <div class="col-2">
                <ul class="list-unstyled">
                    <a href="catalog/"><li>Шестигранник</li></a>
                    <a href="catalog/"><li>Профнастил</li></a>
                    <a href="catalog/"><li>Сетка</li></a>
                    <a href="catalog/"><li>Каркасы</li></a>
                    <a href="catalog/"><li>Нержавеющий сорт</li></a>
                </ul>
            </div>
            <div class="col-2">
                <ul class="list-unstyled">
                    <a href="catalog/"><li>Цветные металлы</li></a>
                    <a href="catalog/"><li>Метизы</li></a>
                    <a href="catalog/"><li>Канаты</li></a>
                </ul>
            </div>
            <div class="col">
                <div class="row">
                    <button class="btn btn-primary mx-auto px-4 btn_footer"> Подписаться на новости </button>
                </div>
                <div class="row">
                    <p class="text-secondary mx-auto">
                        Все права соблюдены
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>