{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary mpi-bg-menu py-0">
    <div class="col-1"></div>
    <div class="container-fluid">

    <button class="navbar-toggler mpi-nav-burger" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        <li class="nav-item">
          <a class="nav-link dropdown-toggle active" aria-current="page" href="catalog" data-bs-toggle="dropdown" aria-expanded="false">Каталог</a>
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Услуги</a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" href="#">Гильотинная резка</a></li>
            <li><a class="dropdown-item" href="#">Лазерная резка</a></li>
            <li><a class="dropdown-item" href="#">Газовая резка</a></li>
            <li><a class="dropdown-item" href="#">Плазменная резка</a></li>
          </ul>
        </li>
          <li class="nav-item">
              <a class="nav-link " href="#" role="button">
                  О компании
              </a>

          </li>

          <li class="nav-item">
              <a class="nav-link " href="#" role="button">
                  Оплата и доставка
              </a>

          </li>
          <li class="nav-item">
              <a class="nav-link " href="#" role="button">
                  Новости
              </a>

          </li>
          </li>
          <li class="nav-item">
              <a class="nav-link " href="#" role="button">
                  Контакты
              </a>

          </li>

      </ul>

    </div>
    </div>

</nav>