{% extends 'html/layout.html' %}
{% load static %}
{% block layout %}
{% load product_tags %}
{% load i18n %}
{% include "html/partials/main_header.html" %}
<link rel="stylesheet" type="text/css" href="{% static 'css/mpi_styles_index.css' %}" />

{% include "html/partials/main_banners_carousel.html" %}

<div class="row">
    <div class="col-12 mx-auto">

            <h2 class="text-center text-uppercase mpi-head-primary-text">ПОПУЛЯРНЫЕ ТОВАРЫ</h2>

    </div>


</div>

{% include "html/partials/main_products_carousel.html" %}

<div class="row mb-3">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="row border border-dark">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 mx-auto">

            <h2 class="text-center text-uppercase mpi-head-primary-text">Наши услуги</h2>

    </div>


</div>
<div class="row mb-5">
    <div class="col-1"></div>
    <div class="col-2">
        <a href="#">
        <img src="{% static 'img/services_icon.png' %}">
        </a>
    </div>
    <div class="col-3 my-auto">
        <a href="#">
        <h3 class="index_services_header mb-0">
            Гильотинная резка
        </h3>
            </a>
        <p class="index_services">
            Краткое описание услуги, чтобы сразу было понятно что за услуга
        </p>
    </div>
    <div class="col-2">
        <a href="#">
        <img src="{% static 'img/services_icon.png' %}">
        </a>
    </div>
    <div class="col-3 my-auto">
        <a href="#">
        <h3 class="index_services_header mb-0">
            Лазерная резка
        </h3>
        </a>
        <p class="index_services">
            Краткое описание услуги, чтобы сразу было понятно что за услуга
        </p>
    </div>
</div>

<div class="row mb-5">
    <div class="col-1"></div>
    <div class="col-2">
        <a href="#">
        <img src="{% static 'img/services_icon.png' %}">
        </a>
    </div>
    <div class="col-3 my-auto">
        <a href="#">
        <h3 class="index_services_header mb-0">
            Газовая резка
        </h3>
        </a>
        <p class="index_services">
            Краткое описание услуги, чтобы сразу было понятно что за услуга
        </p>
    </div>
    <div class="col-2">
        <a href="#">
        <img src="{% static 'img/services_icon.png' %}">
        </a>
    </div>
    <div class="col-3 my-auto">
        <a href="#">
        <h3 class="index_services_header mb-0">
            Плазменная резка
        </h3>
        </a>
        <p class="index_services">
            Краткое описание услуги, чтобы сразу было понятно что за услуга
        </p>
    </div>
</div>

<div class="row mb-3">
    <div class="col-12 mx-auto">
    <a href="#">
        <h3 class="text-center index_services_header mb-0">
            Все услуги нашей организации
        </h3>
    </a>
    </div>
</div>

<div class="row mb-3">
    <div class="col-1"></div>
    <div class="col-10">
        <div class="row border border-dark">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 mx-auto">

            <h2 class="text-center text-uppercase mpi-head-primary-text">Наши партнеры</h2>

    </div>


</div>

{% include "html/partials/main_partners.html" %}

{% include "html/partials/main_footer.html" %}

{% endblock %}